@using QASite.data;
@model ShowAllQuestionsViewModel
<div class="container">
    <main role="main" class="pb-3" style="margin-top: 80px;">

        <div class="row">
            <div class="col-md-8 offset-md-2">

                @foreach (Question question in Model.Questions)
                {
                    <div class="card card-body bg-light">
                        <span id="questionId" value="@question.Id"></span>
                        <h4>
                            <a href="/questions/viewquestion?questionId=@question.Id">
                                @question.Title
                            </a>
                        </h4>
                        <div>
                            <span id="tags">Tags:</span>
                            @foreach (QuestionsTags qt in question.QuestionsTags)
                            {
                                <span class="badge badge-primary">@qt.Tag.Text</span>
                            }

                        </div>
                        <div style="margin-top: 10px;">

                         @(question.Text.Length < 200 ? question.Text : question.Text.Substring(0,200) + "....." )

                        </div>
                        <span>Likes: @question.Likes.Count</span>
                        <br />
                        <span>@question.Answers.Count answer(s)</span>
                    </div>
                }

            </div>
        </div>
    </main>
</div>